html, body {
    margin: 10px;
    padding: 10;
    box-sizing: content-box;
    
}

.headerEl {
    text-align: center;
}
.navbar{
    display: block;
    background-color: rgba(0, 0, 255, 0.213);
    color:rgb(1, 15, 15);
    margin: 10px;
    padding:10px;
}

#navbar-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-top: 20px;
    margin-top: 20px;
}

.navButton {
    padding:10px 20px;
    border-radius: 10px;
    width: auto;
    font-size: 20px;
}

#signIn {
    margin-left:auto;
}

.hero {
    margin: 10px;
    padding: 20px;
}

#heroH1 {
    text-align: center;
}
.hero div{
    display:flex;
    flex-wrap:wrap;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    align-items: center;
}

#heroImg {
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(68, 0, 255, 0.281);
}

#heroTxt{
    margin: 10px 20px 10px 0px;
    padding: 10px;
}


.features {
    margin: 10px;
    border: 10px;
    padding: 10px;
    font-size: 20px;
}


.footer {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    background-color: rgba(0, 0, 255, 0.157);
    margin: 20px;
    padding: 30px 20px 10px 20px;
    font-size: 20px;;
}

li {
    list-style: none;
}
 .card{
    border: 1px solid rgba(68, 0, 255, 0.281);
 }

 .signIn, .signUp{
    display: block;
    padding: 20px;
    margin:auto;
    text-align: center;
    border: 1px solid rgba(68, 0, 255, 0.281);
    font-size: 20px;
    gap: 2px;
    width: 75%;
    background-color: hsla(16, 86%, 75%, 0.034);
 }

 .signIn input, .signUp input {
    width: 35%;
    max-width: 35%;
    padding: 5px;
    font-size: 15px;
    border: 0.5px solid rgba(68, 0, 255, 0.281);
 }
 
 form :last-child {
    margin: auto;
    font-size: 15px;
 }

 a {
    text-decoration: none;
    color: #007bff;
 }

 a.active {
    color:coral;
    font-weight: bold;
 }